*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.junie
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/.github/copilot-instructions.md
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
composer.lock
boost.json
CLAUDE.md
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
.packet-lock.json
XetaSuite-core.code-workspace